

 #bg{
 	background-repeat: no-repeat;
 	background-size: 1600px 800px;
 	background-position: top;
 	background-attachment: fixed;
 }

 body{
 	background-size: cover;
 	background:no-repeat center fixed;
 }



