{% extends 'html/base.html' %}
{% block title %} ContactUs {% endblock %}
{% block content %}
{% load static %}
<style>
	p{
		font-family:comic sans ms;
		font-weight:800;
		font-size:200%;
		color:red;
		padding-top: 100px;
	}
	i{
		margin-left: 120px;
	}
</style>
<center><p>Contact Us</center></p>

<h5><i class="material-icons">phone</i>Contact-1234567891
<i class="material-icons">mail</i>Email ID-myemail@gmail.com
<i class="material-icons">attachment</i>Address-M.P Nagar
<i class="material-icons">computer</i>Office Hours:10am-10pm
</h5>
{% endblock %}
